.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

body, h1, h2, p, button {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  padding: 20px;
  background: #f4f4f4;
}

header {
  background: #333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  text-align: center;
}

.green-button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  margin-top: 20px;
}

footer {
  background: #333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  header, footer {
    padding: 10px;
  }
  main {
    margin: 15px;
    padding: 10px;
  }
}
